<div class="sidebar-left" >
    <div class="sidebar-scroll-left">
        <div class="sidebar-header-left">
            <a href="#" class="close-sidebar-left" ng-click="sidebarLeftCtrl.hide();$event.preventDefault();"></a>
        </div>

        <p class="sidebar-divider-text">NAVIGATION</p>
        <a href="#/" class="nav-item home-nav" ng-click="sidebarLeftCtrl.hide()">HOME<em class="icon-active"></em></a>
        <a href="#/transactions" class="nav-item video-nav" ng-click="sidebarLeftCtrl.hide()">TRANSACTIONS<em class="icon-page"></em></a>
        <a href="#/inventory/remove" class="nav-item blog-nav" ng-click="sidebarLeftCtrl.hide()">PICK ITEMS<em class="icon-page"></em></a>
        <a href="#/inventory/add" class="nav-item mail-nav" ng-click="sidebarLeftCtrl.hide()">STOCK ITEMS<em class="icon-page"></em></a>

        <div class="sidebar-decoration"></div>
        <p class="copyright-sidebar">inVok Copyright 2016. All rights reserved!</p>
    </div>
</div>