<div class="sidebar-right">
    <div class="sidebar-scroll-right">
        <div class="sidebar-header-right">
            <a href="#" class="close-sidebar-right" ng-click="sidebarRightCtrl.hide(); $event.preventDefault();"></a>
            <img src="images/misc/logo-sidebar.png" class="sidebar-right-logo replace-2x" width="125" alt="img">
        </div>

        <p class="sidebar-divider-text">CONTACT</p>

        <a href="#" class="nav-item newsletter-nav deploy-subscribe-form">NEWSLETTER<em class="icon-drop"></em></a>
        <div class="modalForm sidebar-form2" id="modalForm">
            <div id="emailError" class="small-notification red-notification no-bottom subscribe-notification">
                <p>Mail address required!</p>
            </div>

            <div id="emailError2" class="small-notification red-notification no-bottom subscribe-notification">
                <p>Mail address must be valid!</p>
            </div>

            <div class="success-subscribe">
                <div class="notification-box yellow-box">
                    <h4>YOU'RE SUBSCRIBED!</h4>
                    <!--<a href="#" class="close-notification">x</a>-->
                    <div class="clear"></div>
                    <p>
                        Your request for a subscription has been sent! Thank you!
                    </p>
                </div>
            </div>
            <form id="contact">
                <fieldset>
                    <label for="contactName" id="name_label">NAME:</label>
                    <p id="left_label_name">required</p>
                    <input type="text" name="contactName" id="contactName" size="30" value="[Page Subscriber]" class="text-input" />

                    <label for="contactEmail" id="email_label">EMAIL:</label>
                    <p id="left_label_mail">required</p>
                    <input type="text" name="contactEmail" id="contactEmail" size="30" value="" class="text-input" />

                    <textarea  name="contactMessage" id="contactMessage" class="text-input">Message Sent From Modal Pop-Up</textarea>

                    <p class="contact-button-house">
                        <input type="submit" name="submitMessage" class="contactButton" id="contactSubmitBtn" value="SUBSCRIBE"/>
                    </p>

                </fieldset>
            </form>
        </div>


        <a href="#" class="nav-item mail-nav deploy-contact-form">SEND EMAIL<em class="icon-drop"></em></a>
        <div class="sidebar-form contact-form">
            <div class="formSuccessMessageWrap" id="formSuccessMessageWrap">
                <div class="notification-box blue-box">
                    <h4>EMAIL MESSAGE SENT!</h4>
                    <!--<a href="#" class="close-notification">x</a>-->
                    <div class="clear"></div>
                    <p>
                        You're message has been successfully sent. Please allow up to 48 hours for us to reply!
                    </p>
                </div>
            </div>
            <form action="php/contact.php" method="post" class="contactForm" id="contactForm">
                <div class="formSubmitButtonErrorsWrap">
                    <div class="formValidationError" id="contactNameFieldError">
                        <div class="small-notification red-notification no-bottom">
                            <p>NAME IS REQUIRED</p>
                        </div>
                    </div>
                    <div class="formValidationError" id="contactEmailFieldError">
                        <div class="small-notification red-notification no-bottom">
                            <p>EMAIL IS REQUIRED</p>
                        </div>
                    </div>
                    <div class="formValidationError" id="contactEmailFieldError2">
                        <div class="small-notification red-notification no-bottom">
                            <p>ADDRESS MUST BE VALID</p>
                        </div>
                    </div>
                    <div class="formValidationError" id="contactMessageTextareaError">
                        <div class="small-notification red-notification no-bottom">
                            <p>MESSAGE FIELD IS EMPTY</p>
                        </div>
                    </div>
                </div>
                <fieldset>
                    <div class="formFieldWrap">
                        <label class="contactNameField" for="contactNameField">Name:<span>required</span></label>
                        <input type="text" name="contactNameField" value="" class="contactField requiredField" id="contactNameField"/>
                    </div>
                    <div class="formFieldWrap">
                        <label class="contactEmailField" for="contactEmailField">Email: <span>required</span></label>
                        <input type="text" name="contactEmailField" value="" class="contactField requiredField requiredEmailField" id="contactEmailField"/>
                    </div>
                    <div class="formTextareaWrap">
                        <label class="contactMessageTextarea" for="contactMessageTextarea">Message: <span>required</span></label>
                        <textarea name="contactMessageTextarea" class="contactTextarea requiredField" id="contactMessageTextarea"></textarea>
                    </div>
                    <div class="formSubmitButtonErrorsWrap">
                        <input type="submit" class="buttonWrap sidebar-send-button contactSubmitButton" id="contactSubmitButton" value="Submit" data-formId="contactForm"/>
                    </div>
                </fieldset>
            </form>
        </div>

        <a href="tel:+1 234 456 7890" class="nav-item call-nav">CALL US<em class="icon-page"></em></a>
        <a href="sms:+1 234 456 7890" class="nav-item text-nav">SMS US<em class="icon-page"></em></a>

        <p class="sidebar-divider-text">SOCIAL NETWORKS</p>

        <a href="#" class="nav-item facebook-nav">FACEBOOK<em class="icon-page"></em></a>
        <a href="#" class="nav-item twitter-nav">TWITTER<em class="icon-page"></em></a>

        <p class="copyright-sidebar right-sidebar-copyright">Copyright 2013. All rights reserved!</p>

        <div class="sidebar-bottom-controls">
            <a href="#">
                <em class="twitter-bottom"></em>
                <p>Twitter</p>
            </a>
            <a href="#">
                <em class="facebook-bottom"></em>
                <p>Facebook</p>
            </a>
            <a href="#">
                <em class="close-bottom-right"></em>
                <p>Collapse</p>
            </a>
            <div class="clear"></div>
        </div>
    </div>
</div>